<div class="col-sm-3 center row" style="border:1px solid red; width:100%; height:700px">

    {{!--
    <div style="position:relative;top:10%">{{input type="text" value=newGame}}</div> --}} {{#if isGameView}}
    <div style="position:relative; top: 5%; width:100%; height:100px" class="panel">
        <div class="panel-heading">
            <h4 style="color:red">
                Active Games
            </h4>
        </div>
        <table id="activeGames" class="table-responsive table-striped">
            <thead style="width:100%; text-align:center">



                <tr>
                    <th>Game Id</th>
                    <th>Points</th>
                    <th>Bid Nil</th>
                    <th>OverBook</th>
                    <th>Number of Players</th>
                    <th>Click to View</th>
                </tr>
            </thead>
            <tbody style="height:350px; width:100%; overflow-y:auto; text-align:center">
                {{#each gameState.games as |game|}}

                <tr>
                    <td>{{game.gameId}}</td>
                    <td>{{game.pointsToWin}}</td>
                    <td>{{game.bidNil}}</td>
                    <td>{{game.overBook}}</td>
                    <td>{{game.numberOfPlayers}}</td>
                    <td>
                       {{#link-to "cards.spades.games.game" game.gameId}} <button>View Game</button>{{/link-to}}
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
    {{/if}} {{#if isCreateView}}
    <div style="position:relative; top:3%">
        <form>
            <label>Points to Win</label>
            <br/> {{input type="text" value=newGame.pointsToWin placeHolder="Enter number of points to win..."}}
            <br/>
            <label>Bags</label>
            <br/> {{input type="text" value=newGame.bags placeHolder="Enter number of bags..." }}
            <br/>
            <label>Points Lost Due to OverBook</label>
            <br/> {{input id="overBook" type="text" value=newGame.overBook placeHolder="Points to Lose..."}}
            <br/>
            <label>Bid Nil</label>
            <br/> {{input id="bidNil" value=newGame.bidNil type="text" placeHolder="Points lost or gained"}}

        </form>

    </div>
    {{/if}}

    {{#if isEnterGame}}

        {{#link-to "cards.spades.games.game" gameState.gameId}}
        <button class="enterState">Press To Enter Game</button>
        {{/link-to}}
     

    {{/if}}

    
    <div id="newGameDiv">
        {{#newgame-modal isGameView=isGameView isCreateView=isCreateView addGame="addGame" isEnterGame=isEnterGame}} {{/newgame-modal}}
    </div>


</div>