<div class="spadeScoreModal container">
    <div>Round {{gameView.handCount}} Information</div>
    <table class="spadeScoreTable">
        <tr>
            <td class="spadeScoreInfoLabel">&nbsp;</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.name}}</td>
            {{/each}}

        </tr>
        <tr>
            <td>Players</td>
            {{#each teams as |team|}}

            <td class="spadeScoreData">
                {{#each team.players as |player|}} {{player.userId}} {{/each}}

            </td>

            {{/each}}
        </tr>
        <tr>
            <td>Bid</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{divide-spadescore team.totalBid}}</td>
            {{/each}}
        </tr>

        <tr>
            <td>Total Tricks</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{divide-spadescore team.totalTricks}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Bags</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{divide-spadescore team.totalRoundBags}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Previous Bags</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{divide-spadescore team.totalPreviousBags}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Total Bags</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{divide-spadescore team.totalBags}}</td>
            {{/each}}
        </tr>


    </table>
    <div>Scoring</div>
    <table class="spadeScoreTable">
        <tr>
            <td class="spadeScoreInfoLabel">&nbsp;</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.name}}</td>
            {{/each}}

        </tr>

        <tr>
            <td>Successful Bid Points</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.totalSuccessfulBids}}</td>
            {{/each}}
        </tr>

        <tr>
            <td>Bag Points</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{divide-spadescore team.totalRoundBags}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Failed Bid Points</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.totalFailedBids}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>OverBook Points</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.totalOverBookScore}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Bid Nil Points</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.totalBidNilScore}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Round Points</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.totalRoundScore}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Previous Points</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{team.totalPreviousScore}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Total</td>
            {{#each teams as |team|}}
            <td class="spadeScoreData">{{#if team.won}}
                <b>{{team.totalScore}}</b>{{else}}{{team.totalScore}}{{/if}}</td>
            {{/each}}
        </tr>
    </table>

    {{#each teams as |team|}} 
    {{#if team.won}}
    <div class="spadeTeamWhoWon">{{team.name}} has won!!!!!!!!!!!!!
    <p>Winning Team</p>
    {{#each team.players as |player|}} <p>{{player.userId}}</p> {{/each}}
    {{#if playerWon}}Congradulations, Your Team Has Won!!! {{else}}Too Bad, Your Team Lost.{{/if}}
    </div>
    {{/if}} {{/each}}

</div>