{{#each playerCards as |card index|}}

{{#if isShowPlayerCards}}

{{!-- <img {{action "playerCard" card}} src={{image-src "/assets/images/cards/" card.name ".jpeg"}} id={{id-formatter player.name index}} class="cardSize cardDetails">  --}}
{{card-generator card=card cardName=card.name index=index playerCard="playerCard"}}
{{else}}
{{card-generator cardName="BACK_CARD" index=index}} 
{{/if}}
{{/each}}
{{#if gameView.handOver}}
{{#if isShowPlayerCards}}
{{#if isShowScore}}
{{spadescore-modal gameView=gameView}}
{{/if}}
{{/if}}
{{/if}}



<div class="playerPoints"><p>Player Bid: {{playerBid}}</p>
<p>Player Score: {{player.playerCurrentScore}}</p>
</div>
{{#if player.turn}}
<div class="circleBase playerTurn"><p class="container playerAction">{{playerAction}}</p></div>
{{/if}}

<div class="playCardDiv container">
    
    
  
    {{#if hasPlayingCard}}
    <img src={{image-src "/assets/images/cards/" displayedCard ".jpeg"}} class="playingCardSize">
    {{/if}}
 
    
</div>

 <div class="teamName">Team: {{player.team}}</div>
 <div class="playerNameDisplay">Player: {{player.name}}</div>
 {{#if isGameView}}

    {{#if isBot}}
    <button {{action "createPlayerView" player}} class="playerButtonSeat">{{player.name}}</button>

    {{/if}}


 {{/if}}

