{{#each playerCards as |card index|}}

{{#if isShowPlayerCards}}

{{!-- <img {{action "playerCard" card}} src={{image-src "/assets/images/cards/" card.name ".jpeg"}} id={{id-formatter player.name index}} class="cardSize cardDetails">  --}}
{{card-generator card=card cardName=card.name index=index playerCard="playerCard" allowClick=allowClick}}
{{else}}
{{card-generator cardName="BACK_CARD" index=index}} 
{{/if}}
{{/each}}
{{#if gameView.handOver}}
{{#if isShowPlayerCardsWhenOver}}
{{#if isShowScore}}
{{spadescore-modal gameView=gameView player=player}}
{{/if}}
{{/if}}
{{/if}}


{{#if isShowPlayerCardsWhenOver}}
{{#if isPlayAgainView}}
{{playagain-modal createPlayerView="createPlayerView" player=player}}
{{/if}}
{{/if}}


<div class="playerPoints"><p>Player Bid: {{playerBid}}</p>
<p>Player Score: {{player.playerCurrentScore}}</p>
</div>
{{#if player.turn}}
<div class="circleBase playerTurn"><p class="container playerAction">{{playerAction}}</p></div>
{{/if}}

{{#unless isGameView}}
{{#if player.turn}}
{{countdown-timer currentTime=maxTime}}
{{/if}}
{{/unless}}
<div class="playCardDiv container">
    
    
    
    {{#if hasPlayingCard}}
    {{#if isWonTrick}}
    <img src={{image-src "/assets/images/cards/" displayedCard ".jpeg"}} class="playingCardSize playingCardSizeBorder">
    {{else}}
    <img src={{image-src "/assets/images/cards/" displayedCard ".jpeg"}} class="playingCardSize">
    {{/if}}
    
    {{/if}}
 
    
    
</div>

 <div class="teamName">Team: {{player.team}}</div>
 <div class="playerNameDisplay">Player: {{player.name}}</div>
 
{{#if isShowPlayerCards}}{{#unless player.bot}}<button class="leaveGame" {{action "leaveGame" player.name}}>
    Leave Game</button>{{/unless}}{{/if}}
 {{#if player.bot}}<div class="showBotView">Bot</div>{{/if}}
 {{#if isGameView}}

    {{#if isBot}}
    <button {{action "createPlayerView" player}} class="playerButtonSeat">{{player.name}}</button>

    {{/if}}


 {{/if}}

