<div class="container spadeGameTable">
    <div class="spadesWinOrLose">{{gameView.pointsToWin}}/{{gameView.pointsToLose}}</div>
    <div><button {{action "renderGameView" gameView.gameId}}>Go Back To Game View</button></div>
    <div class="teamScoreBoard container">

        <table class="teamPointsTable container">
             <tr>

                <td class="container gameMetaData">Current Turn: {{gameView.currTurn}}</td>
            </tr>
            <tr>
                {{#each teams as |team|}}
                <td class="teamPointsReset">
                    
                        <p class="container teamData">{{team.name}}:</p>
                        <p class="container teamData">Team Points: {{team.totalScore}}</p>
                        <p class="container teamData">Bags: {{divide-spadescore team.totalBags}}</p>
                   
                </td>
                {{/each}}


            </tr>
           


        </table>

        

    </div>


    <div class="container">
        {{spadegame-button startGame="startGame" gameView=gameView}}
        <div class="container playerSeatNorth">
            {{spadeplayer-seat position="PLAYERNORTH" createPlayerView="createPlayerView" classButton="playerButtonNorth" isGameView=isGameView gameView=gameView}}  
        </div>
        <div class="container playerSeatWest">
            {{spadeplayer-seat  position="PLAYERWEST" createPlayerView="createPlayerView" classButton="playerButtonWest" isGameView=isGameView gameView=gameView}}
        </div>

        <div class="container playerSeatEast">
            {{spadeplayer-seat position="PLAYEREAST" createPlayerView="createPlayerView" classButton="playerButtonEast" isGameView=isGameView gameView=gameView}}
    
        </div>
        <div class="container playerSeatSouth">
            {{#if isGameView}}
            {{spadeplayer-seat position="PLAYERSOUTH" createPlayerView="createPlayerView" classButton="playerButtonSouth" isGameView=isGameView gameView=gameView}}
            {{else}}
            {{spadeplayer-seat createPlayerView="createPlayerView" position="PLAYERSOUTH" leaveGame="leaveGame" playerCard="playerCard" isGameView=isGameView gameView=gameView}}
            {{bidding-modal playerBid="playerBid" gameView=gameView player=gameView.seats.PLAYERSOUTH}}
            {{/if}}
        </div>
        {{!-- {{yield (hash gameView=gameView)}} --}}
    </div>





</div>