{{!-- <div class="container spadeGameTable"> --}}

 {{#spadegame-table renderGameView="renderGameView" pingSocket=pingSocket startGame="startGame" createPlayerView="createPlayerView" isGameView=true}}   
   {{!-- {{spadegame-button startGame="startGame"}} --}}
    {{!-- <div class="container playerSeatNorth">
        <SpadePlayer-Seat position="PLAYERNORTH" createPlayerView="createPlayerView" classButton="playerButtonNorth" isGameView=true @gameView={{gameView}} />  
    </div> --}}

    {{!-- <div class="container playerSeatWest">
        <SpadePlayer-Seat position="PLAYERWEST" createPlayerView="createPlayerView" classButton="playerButtonWest" isGameView=true gameView={{gameView}} />
    </div> --}}

    {{!-- <div class="container playerSeatEast">
        {{spadeplayer-seat position="PLAYEREAST" createPlayerView="createPlayerView" classButton="playerButtonEast" isGameView=true gameView=gameView}}
    
    </div>

    <div class="container playerSeatSouth">
        {{spadeplayer-seat position="PLAYERSOUTH" createPlayerView="createPlayerView" classButton="playerButtonSouth" isGameView=true gameView=gameView}}
    </div> --}}
{{/spadegame-table}}

{{!-- </div> --}}
{{!-- {{spadegame-table gameState=model createPlayerView="createPlayerView"}} --}}