{{!-- <div class="container spadeGameTable"> --}}

 {{#spadegame-table gameView=model}}   
   {{spadegame-button gameView=model startGame="startGame"}}
    <div class="container playerSeatNorth">
        {{spadeplayer-seat player=model.teams.TEAM1.players.PLAYER3 previousTrick=model.previousTrick previousHand=model.previousHand}}
        {{#if model.teams.TEAM1.players.PLAYER3.bot}}

            <button {{action "createPlayerView" model.teams.TEAM1.players.PLAYER3}} class="playerButtonNorth">PLAYER3</button>

        {{/if}}
     
        
    </div>

    <div class="container playerSeatWest">
        {{spadeplayer-seat player=model.teams.TEAM2.players.PLAYER2 previousTrick=model.previousTrick previousHand=model.previousHand}}
         {{#if model.teams.TEAM2.players.PLAYER2.bot}}

            <button {{action "createPlayerView" model.teams.TEAM2.players.PLAYER2}} class="playerButtonWest">PLAYER2</button>

        {{/if}}
    </div>

    <div class="container playerSeatEast">
        {{spadeplayer-seat player=model.teams.TEAM2.players.PLAYER4 previousTrick=model.previousTrick previousHand=model.previousHand}}
         {{#if model.teams.TEAM2.players.PLAYER4.bot}}

            <button {{action "createPlayerView" model.teams.TEAM2.players.PLAYER4}} class="playerButtonEast">PLAYER4</button>

        {{/if}}
    </div>

    <div class="container playerSeatSouth">
        {{spadeplayer-seat player=model.teams.TEAM1.players.PLAYER1 previousTrick=model.previousTrick previousHand=model.previousHand}}
       {{#if model.teams.TEAM1.players.PLAYER1.bot}}

            <button {{action "createPlayerView" model.teams.TEAM1.players.PLAYER1}} class="playerButtonSouth">PLAYER1</button>

        {{/if}}
    </div>
{{/spadegame-table}}

{{!-- </div> --}}
{{!-- {{spadegame-table gameState=model createPlayerView="createPlayerView"}} --}}